<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

.home-cover {
    margin-top: var(--wp--preset--spacing--30);
    margin-bottom: var(--wp--preset--spacing--0);
    padding-top: 0;
    padding-bottom: 0;
    background-position: 50% 50%;
    background-size: cover;
	

}


.hero-section {
    display: flex;
    justify-content: center;  
    align-items: center;      
    text-align: center;
    padding: 50px 10px 10px 10px; 
    min-height: 350px;        
	padding-top: var(--wp--preset--spacing--50);
    padding-right: var(--wp--preset--spacing--10);
    padding-left: var(--wp--preset--spacing--10);
	padding-bottom: 10px !important;
	
    flex-direction: column !important;

}
.hero-heading {

    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
	text-align: center;
	display: block;
    unicode-bidi: isolate;
	word-spacing: 10px;
	
}

.hero-subtext {
    font-family: 'roboto', sans-serif;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ffffff;
	margin-top: 20px;  
	text-align: center;
}
@media (max-width: 768px) {
    .hide-mobile {
        display: none !important;
    }

}

.press-logo {
  width: 174px;
  height: auto;
	padding-bottom: 0px;
}
.press-buttons {
	gap: 1.2rem;
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
	display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
	    
	
	
}
.button {
	font-style: normal;
    font-weight: 400;
    line-height: 1.55;
	padding: 9px 22.5px;
	letter-spacing: 0.03em
}
.red-box {
	
	margin-top: 0px !important;
}
.FAQ-BOX {

	margin-left: auto !important;
    margin-right: auto !important;
	display: block;
	box-sizing: border-box;
	padding-top:10px);
	padding-right:10px;
	padding-bottom:10px;
	padding-left:10px;
}
.FAQ_Des {
	padding-top: 5px;
}












</style>
<!-- end Simple Custom CSS and JS -->
