# Ignore WordPress core files
wp-config.php
.htaccess
readme.html
license.txt

# Ignore backups, caches, temp uploads
wp-content/ai1wm-backups/
wp-content/uploads/simply-static/temp-files/
wp-content/uploads/cache/
wp-content/uploads/*.log

# Optional: Ignore other large files
*.zip
*.wpress

# Node / npm / build files
node_modules/
dist/
.env

# System files
.DS_Store
Thumbs.db
